AI Email Workflow.json
{
  "name": "AI Email Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application Form",
        "formDescription": "A Job Application Form is an online form used to collect information from candidates applying for a job. It helps recruiters gather applicant details, qualifications, skills, and resumes in a structured format.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter Your Name "
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Mail:"
            },
            {
              "fieldLabel": "Date of Birth",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Phone Number",
              "fieldType": "number",
              "placeholder": "Number...."
            },
            {
              "fieldLabel": "Gender",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Male "
                  },
                  {
                    "option": "Women "
                  },
                  {
                    "option": "Other"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Address",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -32,
        0
      ],
      "id": "f45f761e-cc8c-4c43-865b-590d6236592a",
      "name": "On form submission",
      "webhookId": "f17885f9-8874-4c24-ba20-77f307abf479"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423661d3-c867-4f54-b597-7670244c504f",
              "name": "Full Name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "708a3eb8-8d04-495e-aa0d-115e1a4b97d0",
              "name": "Email Address",
              "value": "={{ $json['Email Address'] }}",
              "type": "string"
            },
            {
              "id": "571ed0fb-31ed-46d4-8527-f13b65cdf96f",
              "name": "Date of Birth",
              "value": "={{ $json['Date of Birth'] }}",
              "type": "string"
            },
            {
              "id": "a13411b7-b84b-49b4-8554-1c3bc56fb001",
              "name": "Phone Number",
              "value": "={{ $json['Phone Number'] }}",
              "type": "number"
            },
            {
              "id": "dde3cafe-fba2-4aff-ae92-dc342ca93dd0",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "d706a6db-d950-48eb-b24e-33b367db0208",
              "name": "Address",
              "value": "={{ $json.Address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f9482b6e-4204-44b2-acce-8e054d695e54",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dear {{ $json['Full Name'] }},\n\nGreetings!\n\nThank you for submitting your job application. We are pleased to confirm that we have successfully received your application and personal information.\n\nYour application has been securely recorded in our recruitment system and is currently under review. We appreciate the time and effort you invested in completing the application process and sharing your information with us.\n\nFor your reference, the details provided in your application are listed below:\n\n**Personal Information**\n\n• Full Name: {{ $json['Full Name'] }}\n• Email Address: {{ $json['Email Address'] }}\n• Date of Birth: {{ $json['Date of Birth'] }}\n• Phone Number: {{ $json['Phone Number'] }}\n• Gender: {{ $json['Gender'] }}\n• Address: {{ $json['Address'] }}\n\nOur recruitment team, supported by advanced evaluation systems, will carefully review your profile, qualifications, and application details. This process helps us better understand your background and assess your suitability for current and future opportunities.\n\nDuring the review process, your information will be evaluated based on the requirements of available positions. If your profile matches our hiring needs, a member of our recruitment team will contact you regarding the next stages of the selection process, which may include assessments, interviews, or additional discussions.\n\nWe encourage you to keep an eye on your email inbox for future updates and communications regarding your application status.\n\nThank you once again for your interest and for considering this opportunity. We appreciate your application and look forward to reviewing your profile.\n\nBest Regards,\n\nHR & Recruitment Team\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "7c5da2ca-cc99-42bf-8b8f-0dec14444e81",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "a021b27e-bd87-440c-80df-6337141c34db",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a96xdbxdzf6D7owV",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the email subject and body.\n\nReturn ONLY valid JSON:\n\n{\n  \"subject\": \"\",\n  \"body\": \"\"\n}\n\nEmail:\n{{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "15502485-c54f-4ff5-9f53-ef447ecbde4c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "a96xdbxdzf6D7owV",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json['Email Address'] }}",
        "subject": "={{ $json.content.parts[0].text }}",
        "emailType": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "506c6131-d600-49d7-847f-31e6f2a65940",
      "name": "Send a message",
      "webhookId": "61ef0d28-7f78-4cb4-bf1f-61ef2a8e52ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "aEqrEJxjEJWfsBXV",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "39dfdbed-727f-42df-adff-4a51a48be326",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8534048dc468b5322f91c457c114b0ebc65bf9327d820bb3deec8bbc93865d97"
  },
  "nodeGroups": [],
  "id": "DyzFohOkn6RqSy8F",
  "tags": []
}