HR RAG CHATBOT.json
{
  "name": "HR RAG CHATBOT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wdAi9gE3xD_ZFAzQgJPmfPCr7DcckU8h",
          "mode": "list",
          "cachedResultName": "N8N folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wdAi9gE3xD_ZFAzQgJPmfPCr7DcckU8h"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        144
      ],
      "id": "12407116-e0b1-465a-bfd9-39ca1b093baa",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LWqj1sZW36EFLhGV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        144
      ],
      "id": "67f68154-f266-49cd-97b8-3e94ee3b5b36",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LWqj1sZW36EFLhGV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-newproject",
          "mode": "list",
          "cachedResultName": "n8n-newproject"
        },
        "options": {
          "pineconeNamespace": "RAG"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -240,
        144
      ],
      "id": "4366ad1a-5eee-481e-8f47-18de76f34a42",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zvzfWS95XuJZLBP7",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        320
      ],
      "id": "be64b338-d9da-45e5-8fbd-ebe7cecdcf35",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tHCa65DUEpeCQ0PI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -144,
        336
      ],
      "id": "1e69d7f8-d937-44f3-8419-478b99fd54b5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        128
      ],
      "id": "26c9ef05-957c-47af-b1eb-df43b4836af9",
      "name": "When chat message received",
      "webhookId": "d8eb14ad-a49f-4f15-903e-cd73ec4cdad7"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an HR Assistant. Always answer using the Employee Handbook knowledge base. If the information is not available, say you couldn't find it in the handbook. Never make up answers. Keep responses clear, accurate, and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        128
      ],
      "id": "fc140274-b2ea-4937-be5e-5224ff2dfa68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        336
      ],
      "id": "807bff8c-f2e0-4a8c-90da-e52857b2a938",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tHCa65DUEpeCQ0PI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this knowledge based on the Handbook as for reading ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-newproject",
          "mode": "list",
          "cachedResultName": "n8n-newproject"
        },
        "options": {
          "pineconeNamespace": "RAG"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        336
      ],
      "id": "ed34f8f8-042e-456c-98b0-6624b6dcc3e6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "zvzfWS95XuJZLBP7",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        464
      ],
      "id": "3ec2afe1-266b-4676-a2a6-e06880c025c7",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "tHCa65DUEpeCQ0PI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "96aa7196-996e-4f89-9a04-22c2a691c6b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8293edbfa6420f5f84a03740745a8cc3b8c4e5ff1088761a0e2b19315280f82"
  },
  "nodeGroups": [],
  "id": "annPaVpEPXNNejm0",
  "tags": []
}